@use "bulma/sass" with (
    $family-primary: '"Lato", "Helvetica", "Arial", sans-serif',
    $link: white,
);
@import url('https://fonts.googleapis.com/css?family=Syncopate:400');
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700&display=swap');
